<cdk-accordion-item
  #accordionItem2="cdkAccordionItem"
  role="button"
  tabindex="2"
  [attr.id]="'accordion-header-' + '2'"
  [attr.aria-expanded]="accordionItem2.expanded"
  [attr.aria-controls]="'accordion-body' + '2'"
  class="block">
  <section
    (click)="accordionItem2.toggle()"
    class="flex content-center justify-between p-4 font-medium text-accent bg-primary bg-opacity-10 hover:bg-primary hover:bg-opacity-40">
    <article>Database Metadata</article>
    <article>Click to {{ accordionItem2.expanded ? 'close' : 'open' }}</article>
  </section>
  <article
    role="region"
    [style.display]="accordionItem2.expanded ? '' : 'none'"
    [attr.id]="'accordion-body-' + '3'"
    [attr.aria-labelledby]="'accordion-header-' + '3'">
    <!-- insert code here -->
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="p-4">
      <mat-tree-node
        class="text-accent"
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding>
        <button
          color="accent"
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">{{
            treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'
          }}</mat-icon>
        </button>
        {{ node.name | titlecase }}
      </mat-tree-node>
    </mat-tree>
  </article>
</cdk-accordion-item>
