.mat-button-toggle-checked {
  background-color: #e65100 !important;
  color: #fff !important;
}
mat-button-toggle:hover {
  background-color: #e65100 !important;
  color: #fff !important;
}

mat-button-toggle {
  color: #e65100 !important;
  border-top: 1px solid #e65100;
  border-bottom: 1px solid #e65100;
  border-right: 1px solid #e65100;
}
mat-button-toggle-group {
  border-left: 1px solid #e65100;
}

.button-toggle {
  @apply pr-4 text-2xl italic text-primary;
}
