.mat-button-toggle-checked {
  background-color: #e65100 !important;
  color: #fff !important;
}
mat-button-toggle:hover {
  background-color: #e65100 !important;
  color: #fff !important;
}

mat-button-toggle {
  color: #e65100 !important;
}
