<section class="p-4 text-end">
  <span class="pr-4 text-2xl italic text-primary">Tables</span>
  <mat-button-toggle-group [formControl]="tablesOption">
    <mat-button-toggle
      *ngFor="let operation of operations"
      [value]="operation"
      >{{ operation | titlecase }}</mat-button-toggle
    >
  </mat-button-toggle-group>
</section>
<section class="p-4">
  <ng-container [ngSwitch]="tablesOption.value">
    <app-tables-view *ngSwitchCase="'view'"></app-tables-view>
    <app-tables-create *ngSwitchCase="'create'"></app-tables-create>
    <app-tables-drop *ngSwitchCase="'drop'"></app-tables-drop>
    <app-tables-edit *ngSwitchCase="'edit'"></app-tables-edit>
  </ng-container>
</section>
